@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import print styles */
@import '../styles/print.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
